<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%= require('html-loader!@shared/html/meta.html') %>
        <title>Page not found: 404 · nxn.io</title>
        <%= require('html-loader!@shared/html/favicon.html') %>

        <link rel="preload" href="<%= require('@shared/fonts/OpenSans/OpenSans-Regular.woff2').default %>" as="font">
        <link rel="preload" href="<%= require('@shared/fonts/RobotoSlab/RobotoSlab-Regular.woff2').default %>" as="font">
    </head>
    <body>
        <div id="page" class="error">
            <%= require('html-loader!@shared/html/top-bar.html') %>

            <div id="banner">
                <div id="banner-logo" class="banner">
                    <svg id="logo"><use href="../shared/images/graphics.svg#logo-no-outline" /></svg>
                </div>
                
                <article id="banner-text" class="banner">
                    <h1>Page not found <span class="accent">404</span></h1>
                    <p class="text">
                        Sorry, there are no documents located at this URL. Check that you typed the address correctly,
                        go back to your previous page, or <a href="/">follow this link to return to the main page</a>.
                        
                    </p>
                    <p class="text">
                        <span class="copyright">&#169; 2020 Ernie Wieczorek</span>
                    </p>
                </article>
            </div>
        </div>
    </body>
</html>
