<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%= require('html-loader!@shared/html/meta.html') %>
        <title>Personal Portfolio: Ernie Wieczorek · nxn.io</title>
        <%= require('html-loader!@shared/html/favicon.html') %>

        <link rel="preload" href="<%= require('@shared/fonts/OpenSans/OpenSans-Regular.woff2').default %>" as="font"
            type="font/woff2" crossorigin>
        <link rel="preload" href="<%= require('@shared/fonts/Oswald/Oswald-Regular.woff2').default %>" as="font"
            type="font/woff2" crossorigin>
        <link rel="preload" href="<%= require('@shared/fonts/RobotoSlab/RobotoSlab-Regular.woff2').default %>" 
            as="font" type="font/woff2" crossorigin>
    </head>
    <body>
        <div id="page">
            <%= require('html-loader!@shared/html/top-bar.html') %>

            <div id="banner">
                <div id="banner-logo" class="banner">
                    <svg id="logo"><use href="../shared/images/graphics.svg#logo-no-outline" /></svg>
                </div>
                
                <article id="banner-text" class="banner">
                    <h1>Hello, I'm <span class="accent">Ernie</span>.</h1>
                    <p class="text">
                        I am a Philadelphia based software developer who specializes in full stack web application 
                        development. You can find a few samples of my recent personal projects below.
                    </p>
                </article>
            </div>
            
            <div id="content">
                <article class="box">
                    <header>
                        <h2>YAWS: Yet Another Web Sudoku</h2>
                        <picture>
                            <source type="image/webp"
                                srcset="images/yaws_1col_640x192.webp,
                                        images/yaws_1col_960x288.webp 1.5x,
                                        images/yaws_1col_1280x384.webp 2x">

                            <source type="image/png"
                                srcset="images/yaws_1col_640x192.png,
                                        images/yaws_1col_960x288.png 1.5x,
                                        images/yaws_1col_1280x384.png 2x">

                            <img src="images/yaws_1col_640x192.png" alt="Yet Another Web Sudoku">
                        </picture>
                    </header>
                    <div class="description">
                        <p>The aim of this project is to create a modern, fully client-side, sudoku game with robust 
                        features such as customizable keyboard controls, saving and sharing game states, hints, and 
                        more. YAWS is currently in an early stage of development.</p>
                        <br>
                        <p>Demo: <a href="https://sudoku.nxn.io/" target="_blank" rel="noreferrer">sudoku.nxn.io</a></p>
                        <p>
                            Project Repository: <a href="https://github.com/nxn/yaws" target="_blank" rel="noreferrer">
                            Github</a>
                        </p>
                    </div>
                </article>

                <article class="box">
                    <header>
                        <h2>Waffle-Iron: Sudoku Solver &amp; Generator</h2>
                        <picture>
                            <source type="image/webp"
                                srcset="images/waffle-iron_1col_640x192.webp,
                                        images/waffle-iron_1col_960x288.webp 1.5x,
                                        images/waffle-iron_1col_1280x384.webp 2x">

                            <source type="image/png"
                                srcset="images/waffle-iron_1col_640x192.png,
                                        images/waffle-iron_1col_960x288.png 1.5x,
                                        images/waffle-iron_1col_1280x384.png 2x">

                            <img class="left" src="images/waffle-iron_1col_640x192.png" alt="Waffle-Iron">
                        </picture>
                    </header>
                    <div class="description">
                        <p>Waffle-Iron is a sudoku puzzle solver and generator written in Rust. It's capable of being 
                        compiled into WebAssembly and executed from within a browser, where it offers consistant and 
                        improved performance in comparison to similar JavaScript implementations.</p>
                        <br>
                        <p>
                            Project Repository: <a href="https://github.com/nxn/waffle-iron" target="_blank" 
                            rel="noreferrer">Github</a>
                        </p>
                    </div>
                </article>

                <article class="box" style="grid-column: span 2">
                    <header>
                        <h2>3D Gear Model</h2>
                        <picture>
                            <source type="image/webp" media="(max-width: 640px)"
                                srcset="images/gear_1col_640x192.webp,
                                        images/gear_1col_960x288.webp 1.5x,
                                        images/gear_1col_1280x384.webp 2x">

                            <source type="image/jpeg" media="(max-width: 640px)"
                                srcset="images/gear_1col_640x192.jpg,
                                        images/gear_1col_960x288.jpg 1.5x,
                                        images/gear_1col_1280x384.jpg 2x">

                            <source type="image/webp"
                                srcset="images/gear_2col_1280x192.webp,
                                        images/gear_2col_1920x288.webp 1.5x,
                                        images/gear_2col_2560x384.webp 2x">

                            <source type="image/jpeg"
                                srcset="images/gear_2col_1280x192.jpg,
                                        images/gear_2col_1920x288.jpg 1.5x,
                                        images/gear_2col_2560x384.jpg 2x">

                            <img src="images/gear_2col_1280x192.jpg" alt="3D Gear Model">
                        </picture>
                    </header>

                    <div class="description">
                        <p>Results of my first sertious attempt at learning 3D modelling; created using Blender.</p>
                    </div>

                    <div class="images">
                        <a class="viewer" target="_blank" href="<%= require('./downloads/gear_render2.jpg').default %>"
                            data-image="/assets/dzi-data/gear_render2.dzi"
                            data-title="Gear Render 1 of 2">
                            <picture>
                                <source type="image/webp"
                                    srcset="images/gear_render2_preview_640x240.webp,
                                            images/gear_render2_preview_960x360.webp 1.5x,
                                            images/gear_render2_preview_1280x480.webp 2x">
    
                                <source type="image/jpeg"
                                    srcset="images/gear_render2_preview_640x240.jpg,
                                            images/gear_render2_preview_960x360.jpg 1.5x,
                                            images/gear_render2_preview_1280x480.jpg 2x">
    
                                <img src="images/gear_render2_preview_640x240.jpg" alt="Gear Render 1 of 2">
                            </picture>
                        </a>
                        <a class="viewer" target="_blank" href="<%= require('./downloads/gear_render1.jpg').default %>"
                            data-image="/assets/dzi-data/gear_render1.dzi"
                            data-title="Gear Render 2 of 2">
                            <picture>
                                <source type="image/webp"
                                    srcset="images/gear_render1_preview_640x240.webp,
                                            images/gear_render1_preview_960x360.webp 1.5x,
                                            images/gear_render1_preview_1280x480.webp 2x">
    
                                <source type="image/jpeg"
                                    srcset="images/gear_render1_preview_640x240.jpg,
                                            images/gear_render1_preview_960x360.jpg 1.5x,
                                            images/gear_render1_preview_1280x480.jpg 2x">
    
                                <img style="object-position: 75% center;" 
                                    src="images/gear_render1_preview_640x240.jpg" alt="Gear Render 2 of 2">
                            </picture>
                        </a>
                    </div>
                </article>
            </div>

            <div id="footer">
                <span class="copyright">&#169; 2020 Ernie Wieczorek</span>
            </div>
        </div>
        
        <%= require('html-loader!../viewer/viewer.html') %>
    </body>
</html>
